@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@200;300;400;600;700&display=swap');

*{
    color:  rgb(193, 159, 226);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
hr{
    border: 0;
    border-top:1px dotted whitesmoke ;
}
img{
    max-width: 100%;
}
.test{
    color: aqua;
}